.App {
  text-align: center;
}

.active-link {
  font-weight: bolder
}

button.button-secondary {
  color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: rgb(223, 117, 20);
}

.main-menu {
  background-color: #66a5dd;
  text-align: center;
}
.main-menu li {
  width: auto;
  margin-top:.3em;
  background-color: #66a5dd;
  text-align:left;
}

.pure-menu h5 {
  float: left;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.block {
  border:solid 1px;
  margin-top:20px;
}
